button{
  margin:0.4rem;
}

body{
  margin: 0;
}

.array-container {
  position: absolute;
  left: 6vw;
  /* top: 100px; */
}

.array-bar {
  width: 45px;
  display: inline-block;
  margin: 0 2px;
}

.array-buttons{
  position: absolute;
  bottom: 6vh;
  left: 25vw;
  display: block;
}